
main/.idea/workspace.xml

alba/app/src/main/AndroidManifest.xml

alba/app/src/main/java/com/siheung_alba/alba/activity/MainActivity.kt

alba/app/src/main/res/values-zh-rTW/strings.xml

alba/app/src/main/res/values-ko-rKR/strings.xml
