<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="시흥알바"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alba"
        tools:targetApi="31">
        <activity
            android:name=".activity.OwnerResumeShowActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResumePopupActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".activity.DetailActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_VYrvozIg50vkm9k0pHaZkld-hJJ33vs" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="af80c44eaf5a956fd07fcf76b0b627c1" />

        <activity
            android:name=".activity.MainForOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".user.MainForUserActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.CalculateSalaryActivity"
            android:exported="true"
            android:parentActivityName=".user.MyPageForUserFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.MyPageForOwnerFragment"
            android:exported="true"
            android:parentActivityName=".activity.MainForOwnerActivity" />
        <activity
            android:name=".fragment.HomeFragment"
            android:exported="true"
            android:parentActivityName=".activity.UserJoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.MapFragment"
            android:exported="true"
            android:parentActivityName=".activity.MainForOwnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ResumeUploadActivity"
            android:exported="true"
            android:parentActivityName=".user.MyPageForUserFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserJoinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShopJoinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OwnerUploadActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:parentActivityName=".fragment.MyPageForOwnerFragment" />
        <activity
            android:name=".activity.OwnerModifyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.OwnerResumeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".user.MyPageForUserFragment"
            android:exported="true"
            android:parentActivityName=".user.MainForUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PopupActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppTheme.Popup" />
        <activity android:name=".user.ResumeShowActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:parentActivityName=".user.MyPageForUserFragment"/>
    </application>

</manifest>